# Données Kaggle (trop lourdes pour GitHub, à télécharger depuis Kaggle)
train.csv
test.csv
sample_submission.csv

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini
